header{
    background-color: rgb(236, 208, 25);
    color: rgb(20, 18, 18);
    padding-top: 10px;
    text-align: center;
}

article{
    flex: 3;
    margin-right: 20px;
}

.main1 {
    display: ruby;
    padding: 1px;
}

aside {
    padding-left: 100px;
    display: block;
    unicode-bidi: isolate;
}

section{
    padding-right: 500px;
}

.div1{
    padding-right: 15px;
}

.div2{
    padding-right: 15px;
}

.div3{
    padding-right: 15px;
}

.container{
    display: flex;
    padding: 100px;
    padding-left: 12%;
}

.div5{
    width: 50%;
    margin-left: 3px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background: linear-gradient(to left, rgb(226, 223, 195), rgb(211, 202, 99));
}

.button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #e8b406;
}

body {
    background: linear-gradient(to left, rgb(120, 225, 29), rgb(63, 105, 57));
    border: 1px solid #ccc;
}

footer {
    color: white;
    text-align: center;
    width: 100%;
}