form{
    margin-left: 300px;
    margin-bottom: 30px;
}
header{
margin-bottom: 30px;
padding: 5%;
margin-left: 300px;
}   
.container{
    margin-left: 20px;
    margin-bottom: 30px;
}
.main-title{    
    font-size: 30px;
    color: black;
    font-weight: 700;
}
div> p{
    color: blue;
}
.container> p{
    color: rgb(15, 15, 15);
    font-size: 30px;
}
span{
    font-size: 20px;
    color: blue;
}
td, th {
    border: solid 2px rgb(20, 20, 20);
}
td{
    color: rgb(16, 15, 15);
}
th{ 
    color: rgb(240, 5, 24);
}
table {
    border border-collapse: collapse ; width: 40%;
}

footer{
    margin-left: 300px;
    padding: 5%;
}

a {
    color: brown;
}