body {
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 20px;
    margin-bottom: 30px;
}
.main-title{
    font-size: 20px;
    color: rgb(66, 19, 236);
    font-weight: 700;
}

.main-img{
    width: 200px;
    height: 300px;
}

h1{ color: rgb(238, 18, 6);

}
h2,h3{color: rgb(239, 109, 16);

}

ol{color: darkgreen;

}
