<!DOCTYPE html>

<html lang="ru">
    <head>
        <title>mypage</title>
    </head>

    <body>

    </body>

<script>
    const myArray = ["Toyota", "Lexus", "Nissan", "Honda", "Subaru"];
    const car = [
        ["Toyota", 2022],
        ["Lexus", 2019], 
        ["Nissan", 2024],
        ["Honda", 2000],
        ["Subaru", 2018],
];
    car[0] = ["BMW", 2023];
    car[5] = ["KIA", 2019];
    
    car.push("Audi")

    car.unshift("VW")

    let lenOfList = (myArray)
     console.log(lenOfList)

    for (let i = 0; i < myArray.length; i++) {
         console.log(myArray[i])
    }
  

    console.log(car)

    
</script>
</html>