<!DOCTYPE html>

<html>
    <head>
        <title>Homework 27.09</title>
    </head>
    <body>
         JavaScript
    </body>
    <script>
//Задание 1
function compareStringLengths(str1, str2) {
    if (str1.length > str2.length) {
        return 1; 
    } else if (str1.length < str2.length) {
        return -1; 
    } else {
        return 0; 
    }
    }


    console.log(compareStringLengths("Hello", "World")) 
    console.log(compareStringLengths("Hello", "JavaScript")) 
    console.log(compareStringLengths("JavaScript", "Hi")) 

// Задание 2

function capitalizeFirstLetter(str) {
    if (str.length === 0) {
        return str; 
    }
    
    return str.charAt(0).toUpperCase() + str.slice(1);
    }

    
    console.log(capitalizeFirstLetter("hello")); 
    console.log(capitalizeFirstLetter("world")); 
    console.log(capitalizeFirstLetter("javascript is fun")); 
    console.log(capitalizeFirstLetter("")); 


    </script>
</html>