<!DOCTYPE html>

<html>
    <head>
        <title>Homework 03.10</title>
    </head>
    <body>
         JavaScript
    </body>
    <script>
        const add = (a, b) => a + b;
        const subtract = (a, b) => a - b;
        const multiply = (a, b) => a * b;
        const divide = (a, b) => a / b;
        

const performOperations = (a, b) => {
        console.log(`Сложение: ${a} + ${b} = ${add(a, b)}`);
        console.log(`Вычитание: ${a} - ${b} = ${subtract(a, b)}`);
        console.log(`Умножение: ${a} * ${b} = ${multiply(a, b)}`);
        console.log(`Деление: ${a} / ${b} = ${divide(a, b)}`);
        
};


   performOperations(6, 2);
    </script>
</html>