<!DOCTYPE html>

<html>
    <head>
        <title>mypage</title>
    </head>
    <body>
        Изучение JavaScript
    </body>
    <!--
    <script>
      let age = 24;
      let result;
      if (age >= 18) {
        result = "OK";
      } else {
        result = "error"
      }
      console.log(result);

      let radiobtn = 1;
      if (radiobtn ==1) {
        console.log("1");
      } else if (radiobtn == 2) {
        console.log("2");
      } else {
        console.log("3");
      }  
    </script>  --> 
    <!-- <script>
        const myArray = [];
        const people = ["Tanya", "Ivan", "Igor"];
        console.log(people);
        console.log(people[1]);
        people[10] = "Sergey"
        console.log(people[3]); 
    </script> -->
     <!--<script>
      function hello(name){
        console.log(`Hello, ${name}`)
      }

      function sumNumbers(a,b){
        console.log(`${a} + ${b} = ${a+b}`)
      }

      function info(name, age, city){
        console.log(`Hello, my name is ${name}. I am${age} years old. I am from ${city}`)
      }

      const message = function(msg){
        console.log(msg)
      }

      function print(){
        console.log("Outer function");
        printHello();
        printHello();

        function printHello(){
          console.log("inner function")
        }
      }

      const sumNumFunction = sumNumbers;

      info("Ivan", 17, "Moscow")
      sumNumbers(7,9)
      hello("Ivan") 
      sumNumFunction(8,8)

      message("Function without name")

      print()

      function printPerson(person){
        console.log("Name", person[0]);
        console.log("Age",person[1]);
        console.log("Email:", person[2]);
      }  

      function printPersonSpreand(name, age, email){
        console.log("Name", name);
        console.log("Age", age);
        console.log("Email:", email);
      }

      const Ivan = ["Ivan", 28, "Ivan@gmail.com"]

      // printPerson(Ivan)

      // printPersonSpreand(... Ivan)

      function sumAnyElements(a,b){
        console.log(`a = ${a}`)
        console.log(`b = ${b}`)

        let result = 0;
        for (const n of arguments){
          result += n;
        }
        console.log("Сумма чисел", result);
      }

      //sumAnyElements(5)//
      //sumAnyElements(5,4)//
      //sumAnyElements(5,4,1)//
      //sumAnyElements(5,5,5,5)//

      function getName(name){
        const newName = `${name}!`
        return newName
      }

      let newName = getName("Ivan")
      console.log(newName)

      function getSum(a,b){
        const result = a+b
        return result
      }

      function getSubtract(a,b){
        const result = a-b
        return result
      }

      function operation(a, b, func){
        const result = func(a,b)
        return result
      }


      console.log


    </script> -->
    <!--10.10.24 -->
   <!--<script>
     const user = {}

     const car = {
      brand: "BMW",
      model: "2024"
     }
     user.name = "Dima";
     user.age = 41;
     
     console.log(user)
     console.log(user.name)
     console.log(user.age)
     console.log(user.phone)


     const breed = "Mops";
     const color = 'Red';
     const dog = {breed, color}
     console.log(dog)

     const power = 230;
     const capacity = 2.5;

     const engine = {power, capacity}
    
     const carLada = {
      brand: "lada",
      model: "Aura",
      engine,
      toGo:function(){
        console.log(`${this.brand} ${this.model} Go!`)
      }
     }
    
     
     const cat = {
     ["color"]:  "Белая",
     ["breed"]:  "Сиамская",
     ['may']:  function(){
      console.log("Mayy")
     }
     }

    const home = {
      "height all": 3,
      "area kitchen": 22
    }
    delete home["height all"]
    delete home.areaKitchen

    console.log(home["height all"])

    const carInfo = [
      ["brand", "Audi"],
      ["model", "A6"],
      ["color", "Black"]
    ]
      const carInfoObject = Object.fromEntries(carInfo)
      console.log(carInfoObject)
      console.log(carInfoObject.brand)
     //console.log(carLada)
     //carLada.toGo()
    

    </script>-->

   <!--<script>
    //console.log(this)
     function testFunc(){
      let name = "Dima";
      console.log(this.name);
     }

     //let name = "Alex";
     //testFunc();

     const user = {
      name: "Dima",
      display: function(){
        console.log(this.name)
      }
     }

     let name = "Alex"
     user.display();

     function outerFunc(){
      let age = 100;
      console.log(this.age)
     }

     const manFirst = {
      age: 50,
      display: outerFunc
     }

     const manSecond = {
      age: 25,
      display: outerFunc
     }

    //window.age = 10
     //let age = 10;
     var age = 10;

     outerFunc();
     manFirst.display();
     manSecond.display();

    </script>-->

    <script>
      // const user = {
      //   name: "Dima",
      //   say: ()=> console.log(`My name is ${this.name}`)
      // }
      // var name = "Alex"
      // user.say()
      
      // const user = {
      //  name: "Dima",
      //  hello(){
      //   console.log("Hello")
      //   let say = ()=>console.log(`My name is ${this.name}`)
      //   say()
      //  }
      // }
      // user.hello()

      const country = {
        name: "Россия",
        language: "Русский",
        capital:{
          name: "Москва",
          population: 1300000,
          year: 877
        }
      }

      console.log(`Столица - ${country.capital.name}`)
      console.log(`Население - ${country["capital"]["population"]}`)
      console.log(`Год - ${country.capital["year"]}`)
    </script>

</html>